.box {
  background-color: pink;
  height: 80vh;
  width: 100vw;
  overflow-x: hidden;
}

.content {
  background-color: aquamarine;
  padding: 1rem;
  height: 50vh;
  width: 110vw;
  /* transform: translateX(0px); */
}

.animation-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  position: relative;
  left: 600px;
  transition: all 0.5s linear;
}

.right-animation{
  z-index: 3;
} 
.left-animation{
  z-index: 3;
}














